---
layout: page
title: Roadmap
published: true
---

<section class='roadmap'>
    <div class="container">
        <div class="row">
            <h2 class="heading">General Roadmap</h2>
            <p class="subheading">ETCDEV Team plans for 2018-2020</p>
        </div>

        <div class="row">
            <div class="col-xs-2 calendar">
                <h3>Goals</h3>
            </div>
            <div class="col-xs-10">
                <h5>Short term goals</h5>
                <ul>
                    <li>Scalability through sidechains</li>
                    <li>IoT</li>
                    <li>Help 3rd party developers to build apps on top of ETC</li>
                </ul>
                <h5>2-3 year goals</h5>
                <ul>
                    <li>Better security and encryption</li>
                    <li>Interoperability with other blockchains</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <hr/>
        </div>

        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2018</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>Remove Difficulty Bomb</li>
                    <li>Emerald Wallet for Mobile</li>
                    <li>Release Dapp SDK <small>(Emerald Project)</small></li>
                    <li>Sidechains</li>
                    <li>Enable new opcodes from ETH <small>(compatibility)</small></li>
                    <li>IPFS integration</li>
                    <li>SputnikVM optimizations and JIT Compilation</li>
                    <li>New improved statedb layer</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2019</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>Scalability improvement and sharding <small>(towards to 1,000+ tx/sec)</small></li>
                    <li>Light client for IoT and Mobile</li>
                    <li>Interoperability with other blockchains</li>
                    <li>Improve cryptography on EVM <small>(for zero knowledge proof,
                        homomorphic encryption, etc)</small></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3> <h4>2020</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                    <li>Hybrid consensus research</li>
                    <li>Mesh networks</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<% def months = [] %>

<section class='roadmap'>
    <div class="container">
        <div class="row">
            <h2 class="heading">Detailed Roadmap for 2018</h2>
            <p class="subheading">Please be advised that following plan is subject to change. This plan
                is preliminary and reflects only major steps, during the year we can face unexpected
                challenges, or do a pivot to a more optimal direction. Minor releases, maintenance, experimental
                and secret projects are not reflected below</p>
        </div>

        <%
        months = [
        [
            calend: "Feb",
            goals: [
                "Introduction of Sidechains architecture",
                "Enable SputnikVM in Geth"
            ]
        ],
        [
            calend: "Mar",
            goals: [
                "First public release of Emerald Desktop Wallet",
                "Warp sync in Geth"
            ]
        ],
        [
            calend: "Apr",
            goals: [
                "Beta of Emerald Mobile Wallet",
                "Disable difficulty bomb",
            ]
        ],
        [
            calend: "May",
            goals: [
                "Working prototype of Sidechain",
                "Enable new Opcodes for compatibility with ETH"
            ]
        ],
        [
            calend: "Jun",
            goals: [
                "PoC of new StateDB layer",
                "Emerald Mobile Wallet"
            ]
        ],
        [
            calend: "Jul",
            goals: [
                "Sidechains support in Emerald Project",
                "Emerald SDK First Release"
            ]
        ],
        [
            calend: "Aug",
            goals: [
                "JIT Compilation in SputnikVM"
            ]
        ],
        [
            calend: "Sep",
            goals: [
                "Integrated cross transactions with external blockchains",
                "New StatDB Layer"
            ]
        ],
        [
            calend: "Oct",
            goals: [
                "IPFS support by Emerald"
            ]
        ],
        [
            calend: "Nov",
            goals: [
                "Fully IoT-compatible infrastructure of ETC"
            ]
        ],
        [
            calend: "Dec",
            goals: [
                "Upgrade EVM (new opcodes and optimizations)"
            ]
        ],
        ];
        %>
        <% months.each { phase -> %>
        <div class="row">
            <div class="col-xs-2 calendar">
                <h3><i class="mdi mdi-calendar-clock"></i></h3>
                <h4>${phase.calend}</h4>
            </div>
            <div class="col-xs-10">
                <ul>
                <% phase.goals.each { goal -> %>
                <li>${goal}</li>
                <% } %>
                </ul>
            </div>
        </div>
        <% } %>
    </div>

</section>

<section class="roadmap">
    <div class="container">
        <div class="row">
            <h2 class="heading">Main Projects</h2>
            <!--<p class="subheading"></p>-->
        </div>

        <div class="row">
            <h3>Classic Geth <small>/ <a href="https://github.com/ethereumproject/go-ethereum"><i class="fa fa-github"></i> github</a></small></h3>
            <p>
                ETCDEV have been maintaining and improving Geth since the fork, and going to continue this
                work with focus on architecture modularization, performance improvements and makign it more friendly
                for using in business environment. Classic Geth is a fork of ETH Geth but developed separately since
                October 2016, up to 50% of the current code is rewritten/replaced/removed
            </p>
        </div>

        <div class="row">
            <h3>Sputnik VM <small>/ <a href="https://github.com/ethereumproject/sputnikvm"><i class="fa fa-github"></i> github</a></small></h3>
            <p>
                Next generation of EVM developed by ETCDEV team. It's a separate embeddable EVM, compatible with
                different types of Ethereum blockchains, compatible with IoT. ETCDEV is going to work on further
                improvements, parallel execution, optimizations for different hardware architectures and
                Just-In-Time compilation for EVM bytecode.
            </p>
        </div>

        <div class="row">
            <h3>Emerald Platform <small>/ <a href="https://github.com/ethereumproject/emerald-platform"><i class="fa fa-github"></i> github</a></small></h3>
            <p>
                Toolkit to build applications running on Ethereum ETC, contains UI Components, Libraries for Javascript
                and Rust, Icons, Build tools, etc. Targeting various platforms, such as Desktop, Mobile, Web and
                even Shell Scripting.
            </p>
        </div>

        <div class="row">
            <h3>Sidechains</h3>
            <p>
                New project for 2018, sidechain implementation as native part of ETC infrastructure and protocols
                as a way to add scalability and bring ETC to IoT
            </p>
        </div>


    </div>
</section>